#{extends 'standardForm.html' /}
#{set title:'Narudzbe' /}


<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

<script>

function sync(item){
	if ("${session.mode}" == "edit"){
		datumNarudzbe = item.find(".datumNarudzbe").html();
		datumValute = item.find(".datumValute").html();
		$("#narudzba_datumNarudzbe").val(datumNarudzbe);
		$("#narudzba_datumValute").val(datumValute);
		preduzece = item.find(".preduzece").html();
		poslovnaGodina = item.find(".poslovnGodina").html();
		poslovniPartner = item.find(".poslovniPartner").html();
		console.log(preduzece);
		
		brojNarudzbe = item.find(".brojNarudzbe").html()
    	datumValute = item.find(".datumValute").html()
    	ukupnoOsnovica = item.find(".ukupnoOsnovica").html()
    	ukupnoPDV = item.find(".ukupnoPDV").html()
		ukupnoZaPlacanje = item.find(".ukupnoZaPlacanje").html()
		
		id = item.find(".id").html()
		
		
	    $("#narudzba_brojNarudzbe").val(brojNarudzbe);
	   
	    $("#narudzba_ukupnoOsnovica").val(ukupnoOsnovica);
	    $("#narudzba_ukupnoPDV").val(ukupnoPDV);
	    $("#narudzba_ukupnoZaPlacanje").val(ukupnoZaPlacanje);
	    $("#narudzba_id").val(id);
		
		var options = document.getElementById("preduzece").children;
		for (i = 0; i < options.length; i++) { 
			if(options[i].label == preduzece){
				document.getElementById("preduzece").selectedIndex = i;
				break;
			}
		}
		
		var options2 = document.getElementById("poslovnaGodina").children;
		for (i = 0; i < options2.length; i++) { 
			if(options2[i].label == poslovnaGodina){
				document.getElementById("poslovnaGodina").selectedIndex = i;
				break;
			}
		}
		
		var options3 = document.getElementById("poslovniPartner").children;
		for (i = 0; i < options3.length; i++) { 
			if(options3[i].label == poslovniPartner){
				document.getElementById("poslovniPartner").selectedIndex = i;
				break;
			}
		}	
		
	}
}

function SelectElement1(){
	if(${session.idPreduzeca} != null){
		var options = document.getElementById("preduzece").children;
		for (i = 0; i < options.length; i++) {
			if(options[i].value == ${session.idPreduzeca}){
				document.getElementById("preduzece").selectedIndex = i;
				break;
			}
		}
		document.getElementById("preduzece").disabled = true;
		document.getElementById("zoomBtnPreduzece").disabled = true;
	}else{
		document.getElementById("preduzece").disabled = false;
		document.getElementById("zoomBtnPreduzece").disabled = false;
	}
}

function SelectElement2() {
	if(${session.idPoslovneGodine} != null){
		var options2 = document.getElementById("poslovnaGodina").children;
		for (i = 0; i < options2.length; i++) {
			if(options2[i].value == ${session.idPoslovneGodine}){
				document.getElementById("poslovnaGodina").selectedIndex = i;
				break;
			}
		}
		document.getElementById("poslovnaGodina").disabled = true;
		document.getElementById("zoomBtnPoslovnaGodina").disabled = true;
	}else{
		document.getElementById("poslovnaGodina").disabled = false;
		document.getElementById("zoomBtnPoslovnaGodina").disabled = false;
	}
}


function SelectElement3() {
	if(${session.idPoslovnogPartnera} != null){
		var options3 = document.getElementById("poslovniPartner").children;
		for (i = 0; i < options3.length; i++) {
			if(options3[i].value == ${session.idPoslovnogPartnera}){
				document.getElementById("poslovniPartner").selectedIndex = i;
				break;
			}
		}
		document.getElementById("poslovniPartner").disabled = true;
		document.getElementById("zoomBtnPoslovniPartner").disabled = true;
	}else{
		document.getElementById("poslovniPartner").disabled = false;
		document.getElementById("zoomBtnPoslovniPartner").disabled = false;
	}
}



$(function(){
	$( "#narudzba_datumNarudzbe" ).datepicker({  maxDate: new Date() });
});

$(function(){
	$( "#narudzba_datumValute" ).datepicker({ minDate: 0 });
});

function remove(id){  <!-- ne znam koji je uanpred selektovani red , ovde se vrsi redirekcija -->
	if(id == null){
		alert("Označite red u tabeli!");
	}else{
		var r  = confirm("Da li želite da obrišete slog?");
		if(r==true) {
			$(location).attr('href', '/Narudzbe/delete?id='+id);
		}else{
			txt = "You pressed Cancel"
		}
	}
}

function refresh_page(){
$(location).attr('href', '/Narudzbe/refresh');
}

function nextform_func(id){
	if(id==null){
		alert("Označite red u tabeli!");
	}else{
		sessionStorage.setItem("selektovaniID",id);
		$('#nextFormModal').modal('show');
	}	
}

 $(document).ready(function(){
	$("#nextFormPickup").click(function(){
		nazivForme = $(".highlighted").find(".naziv_forme").html();
		
		var idNarudzbe = sessionStorage.getItem("selektovaniID");
		
		$('#nextFormModal').modal('toggle');
		
		$(location).attr('href', '/Narudzbe/nextForm?id='+idNarudzbe+'&forma='+nazivForme);
	});
});
 
 
 $(document).ready(function(){
		$("#preduzecePickup").click(function(){
			id = $(".highlighted").find(".p_id").html();
			var options = document.getElementById("preduzece").children;
			for (i = 0; i < options.length; i++) { 
				if(options[i].value == id){
					document.getElementById("preduzece").selectedIndex = i;
					break;
				}
			}
		//	$("select").val(id);
			$('#preduzeceModal').modal('toggle');
		});
	});
	
	function cancel_preduzeceModal(){
		$('#preduzeceModal').modal('toggle');
	}
	
	$(document).ready(function(){
		$("#poslovnaGodinaPickup").click(function(){
			id = $(".highlighted").find(".pg_id").html();
			var options2 = document.getElementById("poslovnaGodina").children;
			for (i = 0; i < options2.length; i++) { 
				if(options2[i].value == id){
					document.getElementById("poslovnaGodina").selectedIndex = i;
					break;
				}
			}
		//	$("select").val(id);
			$('#poslovnaGodinaModal').modal('toggle');
		});
	});
	
	function cancel_poslovnaGodinaModal(){
		$('#poslovnaGodinaModal').modal('toggle');
	}
	
	$(document).ready(function(){
		$("#poslovniPartnerPickup").click(function(){
			id = $(".highlighted").find(".pp_id").html();
			var options3 = document.getElementById("poslovniPartner").children;
			for (i = 0; i < options3.length; i++) { 
				if(options3[i].value == id){
					document.getElementById("poslovniPartner").selectedIndex = i;
					break;
				}
			}
			
			$('#poslovniPartnerModal').modal('toggle');
		});
	});
	
	function cancel_poslovniPartneriModal(){
		$('#poslovniPartnerModal').modal('toggle');
	}
 
	
	function pickup(){
		$('#pickupModal').modal('show');
	}
	
	function cancel_pickupModal(){
		$('#pickupModal').modal('toggle');
	}
	
	$(document).ready(function(){
		$("#pickupPickup").click(function(){
			nazivForme = $(".highlighted").find(".naziv_forme").html();
			$('#pickupModal').modal('toggle');
			
			$(location).attr('href', '/Narudzbe/pickup?forma='+nazivForme);
		});
	});
	
	function narudzbaFaktura_func(id){
		if(id==null){
			alert("Označite red u tabeli");
		}else{
			console.log('Dodje li ovde');
			$(location).attr('href', '/Narudzbe/exportToFaktura?id='+id);
		}

	}
	
	


</script>


<div class="container-fluid">
	<div class="row">
		<div class="icon-bar">
			<a href="#" onclick="openSideNav()">
				<img width="16px" height="16px" src="@{'/public/images/menu_icon.png'}" />
			</a>
			
			<a href="@{Narudzbe.changeMode("search")}" id = "search">
				<img src="@{'/public/images/search.gif'}"/>
			</a>
			
			<a href="@{Narudzbe.changeMode("edit")}" id = "refresh">
				<img src="@{'/public/images/refresh.gif'}"/>
			</a>
			
			<a href="#" onclick="pickup()">
				<img src="@{'/public/images/zoom-pickup.gif'}"/>
			</a>
			
			<a href="#" id = "help">
				<img src="@{'/public/images/help.gif'}"/>
			</a>
			
			<a id = "first">
				<img src="@{'/public/images/first.gif'}"/>
			</a>

			<a id = "prev">
				<img src="@{'/public/images/prev.gif'}"/>
			</a>

			<a id = "next">
				<img src="@{'/public/images/next.gif'}"/>
			</a>

			<a id = "last">
				<img src="@{'/public/images/last.gif'}"/>
			</a>
			
			<a href="@{Narudzbe.changeMode("add")}" id = "add">
				<img src="@{'/public/images/add.gif'}"/>
			</a>
			
			<a href="#" id = "remove">
				<img src="@{'/public/images/remove.gif'}"/>
			</a>
			
			<a href="#" id = "nextform">
				<img src="@{'/public/images/nextform.gif'}"/>
			</a>
			
			<a id = "narudzbaFaktura">
				<img src="@{'/public/images/faktura.png'}" width="23px" height="23px"/>
			</a>
		</div>
		
		<div class="container-fluid">
			<h1> Narudzbe </h1>
			
			<table>
				<tr class = "header">
					<th>Datum narudzbe</th>
	   				<th>Broj narudzbe</th>
	   				<th>Datum valute</th>
	   				<th>Ukupno osnovica</th>
	   				<th>Ukupno PDV</th>
	   				<th>Ukupno za plaćanje</th>
	   				<th>Preduzeće</th>
	   				<th>Poslovna godina</th>
	   				<th>Poslovni partner</th>
					<th> Fakturisan </th>
				</tr>
				
				#{list items:narudzbe, as: 'narudzba'}
					<tr>
					<td class = "datumNarudzbe">${narudzba.datumNarudzbe}</td>
					<td class = "brojNarudzbe">${narudzba.brojNarudzbe}</td>
					<td class = "datumValute">${narudzba.datumValute}</td>
					<td class = "ukupnoOsnovica">${narudzba.ukupnoOsnovica}</td>
					<td class = "ukupnoPDV">${narudzba.ukupnoPDV}</td>
					<td class = "ukupnoZaPlacanje">${narudzba.ukupnoZaPlacanje}</td>
				
					<td class="preduzece">${narudzba.preduzece.naziv}</td>
					<td class="poslovnaGodina">${narudzba.poslovnaGodina.brojGodine}</td>
					<td class="poslovniPartner">${narudzba.poslovniPartner.naziv}</td>
					<td class="fakturisan">${narudzba.fakturisana} </td>
					
					<td style = "visibility: hidden; max-width: 0px" class = "id">${narudzba.id}</td>
					</tr>
				#{/list}
			</table>
			
			#{set 'action'}
    			#{if mode == 'add'}
        			@{Narudzbe.create()}
   				#{/if}
   				#{elseif mode == 'edit'}
       				@{Narudzbe.edit()}
   				#{/elseif}
  	   	    	#{else}
     	        	@{Narudzbe.filter()}
  	        	#{/else}
			#{/set}	
			
			
			<div class="panel">
				<form action=${action} method="post"> 
					
					<p>				
						#{field 'narudzba.id'}
							<input type = "hidden" name = "${field.name}" id = "${field.id}"/>
						#{/}
					</p>
					
					<p>
						#{field 'narudzba.datumNarudzbe'}
							<label for = "${field.id}">Datum narudzbe</label>
							<input type = "text" name = "${field.name}" id = "${field.id}"/>
						#{/}
					</p>
					
					<p>
						#{field 'narudzba.datumValute'}
							<label for = "${field.id}">Datum valute</label>
							<input type = "text" name = "${field.name}" id = "${field.id}"/>
						#{/}
					</p>
					
			 	<p>
	<!--  					#{field 'preduzece'}
							<label for = "${field.id}">Preduzece </label>
							&nbsp &nbsp &nbsp <select name="${field.name}" id="${field.id}">
							#{list items:preduzeca, as:'preduzece'}
							<option value="${preduzece.id}">${preduzece.naziv}</option>
							#{/list}
						</select>

						<button id="zoomBtnPreduzece" type="button" class="btn btn-info btn-sm"
							data-toggle="modal" data-target="#preduzeceModal">...</button>
						#{/}  -->
						
						
						<script>SelectElement1()</script>
					</p> 
					
					<p>
						#{field 'poslovnaGodina'} <label for="${field.id}">Poslovna godina</label>
						&nbsp &nbsp &nbsp <select name="${field.name}" id="${field.id}">
							#{list items:poslovneGodine, as:'poslovnaGodina'}
							<option value="${poslovnaGodina.id}">${poslovnaGodina.brojGodine}</option>
							#{/list}
						</select>

						<button id="zoomBtnPoslovnaGodina" type="button" class="btn btn-info btn-sm"
							data-toggle="modal" data-target="#poslovnaGodinaModal">...</button>
						#{/}

						<script>SelectElement2()</script>
					</p>
					
					<p>
						#{field 'poslovniPartner'} <label for="${field.id}">Poslovni partner</label>
						&nbsp &nbsp &nbsp <select name="${field.name}" id="${field.id}">
							#{list items:poslovniPartneri, as:'poslovniPartner'}
							<option value="${poslovniPartner.id}">${poslovniPartner.naziv}</option>
							#{/list}
						</select>

						<button id="zoomBtnPoslovniPartner" type="button" class="btn btn-info btn-sm"
							data-toggle="modal" data-target="#poslovniPartnerModal">...</button>
						#{/}

						<script>SelectElement3()</script>
					</p>
					
					
					<div id = "formActions">
						<input type = "submit" value = "Potvrda" style="margin-left:6em" class="btn btn-success"/>
						<a href = "@{Narudzbe.changeMode("edit")}" style="margin-left:1em">
							<button type="button" class="btn btn-danger">Otkaži</button>
						</a>
					</div> 
				</form> 
			</div>
				
		</div>
		
	</div>
</div>

<p class="status_line">Trenutni režim: ${session.mode}</p>

<div class="modal fade" id="nextFormModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">Izaberite sledeću formu</div>

			<div class="modal-body">
				<table style="padding: 2em">
					<tr class="header">
						<th>Forma</th>
					</tr>

					#{list items:povezaneForme, as:'forma'}
					<tr>
						<td class = "naziv_forme">${forma}</td>
					</tr>
					#{/list}
				</table>

				<div class="modal-footer">
					<input id="nextFormPickup" type="button" value="Izbor" class="btn btn-success"/>
					<button type="button" class="btn btn-danger" onclick="cancel_nextFormModal()">Otkaži</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="preduzeceModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">Preduzeća</div>

			<div class="modal-body">
				<table style="padding: 2em">
					<tr class="header">
						<th>Naziv</th>
		   				<th>PIB</th>
		   				<th>Mesto</th>
		   				<th>Adresa</th>
		   				<th>Telefon</th>
		   				<th>Matični broj</th>
		   				<th>Tekuci racun</th>
					</tr>

					#{list items:preduzeca, as:'preduzece'}
					<tr #{if preduzece.id== idd} class="highlighted"#{/if}>
						<td class = "naziv">${preduzece.naziv}</td>
						<td class = "pib">${preduzece.pib}</td>
						<td class = "mesto">${preduzece.mesto}</td>
						<td class = "adresa">${preduzece.adresa}</td>
						<td class = "telefon">${preduzece.telefon}</td>
						<td class = "maticniBroj">${preduzece.maticniBroj}</td>
						<td class = "tekuciRacun">${preduzece.tekuciRacun}</td>
						<td style="visibility: hidden; max-width: 0px" class="p_id">${preduzece.id}</td>
					</tr>
					#{/list}
				</table>

				<div class="modal-footer">
					<input id="preduzecePickup" type="button" value="Izbor" class="btn btn-success" />
					<button type="button" class="btn btn-danger" onclick="cancel_preduzeceModal()">Otkaži</button>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal fade" id="poslovnaGodinaModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">Poslovne godine</div>

			<div class="modal-body">
				<table style="padding: 2em">
					<tr class="header">
						<th>Broj godine</th> 
		   				<th>Aktivna</th>
		   				<th>Preduzeć¡e</th>
					</tr>

					#{list items:poslovneGodine, as:'poslovnaGodina'}
					<tr #{if poslovnaGodina.id== idd} class="highlighted"#{/if}>
						<td class="pg_brojGodine">${poslovnaGodina.brojGodine}</td>
						<td class="pg_aktivna">${poslovnaGodina.aktivna}</td>
						<td class="preduzece">${poslovnaGodina.preduzece.naziv}</td>
						<td style="visibility: hidden; max-width: 0px" class="pg_id">${poslovnaGodina.id}</td>
					</tr>
					#{/list}
				</table>

				<div class="modal-footer">
					<input id="poslovnaGodinaPickup" type="button" value="Izbor" class="btn btn-success"  />
					<button type="button" class="btn btn-danger" onclick="cancel_poslovnaGodinaModal()">Otkaži</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="poslovniPartnerModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">Poslovni partneri</div>

			<div class="modal-body">
				<table style="padding: 2em">
					<tr class="header">
						<th>Naziv</th>
	   					<th>Mesto</th>
	   					<th>Adresa</th>
	   					<th>Vrsta</th>
	   					<th>Telefon</th>
	   					<th>PIB</th>
	   					<th>Tekući racun</th>
	   					<th>Preduzece</th>
					</tr>

					#{list items:poslovniPartneri, as:'poslovniPartner'}
					<tr #{if poslovniPartner.id== idd} class="highlighted"#{/if}>
						<td class = "naziv">${poslovniPartner.naziv}</td>
						<td class = "mesto">${poslovniPartner.mesto}</td>
						<td class = "adresa">${poslovniPartner.adresa}</td>
						<td class = "vrsta">${poslovniPartner.vrsta}</td>
						<td class = "telefon">${poslovniPartner.telefon}</td>
						<td class = "pib">${poslovniPartner.pib}</td>
						<td class = "tekuciRacun">${poslovniPartner.tekuciRacun}</td>
						<td class="preduzece">${poslovniPartner.preduzece.naziv}</td>
						<td style="visibility: hidden; max-width: 0px" class="pp_id">${poslovniPartner.id}</td>
					</tr>
					#{/list}
				</table>

				<div class="modal-footer">
					<input id="poslovniPartnerPickup" type="button" value="Izbor" class="btn btn-success"/>
					<button type="button" class="btn btn-danger" onclick="cancel_poslovniPartneriModal()">Otkaži</button>
				</div>
			</div>
		</div>
	</div>
</div>	


<div class="modal fade" id="pickupModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">Izaberite nadređnu formu</div>

			<div class="modal-body">
				<table style="padding: 2em">
					<tr class="header">
						<th>Forma</th>
					</tr>

					#{list items:nadredjeneForme, as:'forma'}
					<tr>
						<td class = "naziv_forme">${forma}</td>
					</tr>
					#{/list}
				</table>

				<div class="modal-footer">
					<input id="pickupPickup" type="button" value="Izbor" class="btn btn-success" />
					<button type="button" class="btn btn-danger" onclick="cancel_pickupModal()">Otkaži</button>
				</div>
			</div>
		</div>
	</div>
</div>