#{extends 'standardForm.html' /} #{set title:'Premium banka' /}

<div class="container">
	<h2 class="featurette-heading" style="text-align: center;">
		Upoznajte naš tim</h2>
	<div class="row">
		<div class="column">
			<div class="card">
				<img src="@{'/public/images/korisnik1.png'}" alt="Svetlana" style="width: 100%">
				<div class="container">
					<h2>Svetlana Đurić</h2>
					<p class="title">Student</p>
					<p>Student 4. godine Fakulteta tehničkih nauka u Novom Sadu.</p>
					<p>example@example.com</p>
					<p>
						<button class="button">Kontakt</button>
					</p>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="card">
				<img src="@{'/public/images/korisnik1.png'}" alt="Milena" style="width: 100%">
				<div class="container">
					<h2>Milena Lalić</h2>
					<p class="title">Student</p>
					<p>Student 4. godine Fakulteta tehničkih nauka u Novom Sadu.</p>
					<p>example@example.com</p>
					<p>
						<button class="button">Kontakt</button>
					</p>
				</div>
			</div>
		</div>

		<div class="column">
			<div class="card">
				<img src="@{'/public/images/korisnik2.png'}" alt="Stefan" style="width: 100%">
				<div class="container">
					<h2>Stefan Bošković</h2>
					<p class="title">Student</p>
					<p>Student 4. godine Fakulteta tehničkih nauka u Novom Sadu.</p>
					<p>example@example.com</p>
					<p>
						<button class="button">Kontakt</button>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- FOOTER -->
	<footer class="container-fluid text-center">
		<p>
			&copy; 2017 Poslovna informatika, Inc. &middot; <a href="#">Privacy</a>
			&middot; <a href="#">Terms</a>
		</p>
	</footer>

	<button onclick="topFunction()" id="myBtn" title="Idi na vrh">
		<img src="@{'/public/images/back_top.png'}" alt=""
			class="rounded-circle" width="40" height="40">
	</button>
</div>
