#{extends 'standardForm.html' /}
#{set title:'Poslovni partneri' /}


<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

<script>
	function sync(item){
		if ("${session.mode}" == "edit"){
	    	naziv = item.find(".naziv").html()
	    	mesto = item.find(".mesto").html()
	    	adresa = item.find(".adresa").html()
	    	vrsta = item.find(".vrsta").html()
	    	telefon = item.find(".telefon").html()
	    	pib = item.find(".pib").html()
			tekuciRacun = item.find(".tekuciRacun").html()
			preduzece = item.find(".preduzece").html();
			id = item.find(".id").html()
	    	$("#poslovniPartner_naziv").val(naziv);
	    	$("#poslovniPartner_mesto").val(mesto);
	    	$("#poslovniPartner_adresa").val(adresa);
	    	$("#poslovniPartner_telefon").val(telefon);
	    	$("#poslovniPartner_pib").val(pib);
	    	$("#poslovniPartner_tekuciRacun").val(tekuciRacun);
	    	$("#poslovniPartner_id").val(id);
	    	
	    	if(vrsta == "K"){
		    	document.getElementById("poslovniPartner_vrstaK").checked = true;
		    }else if(vrsta == "D"){
		    	document.getElementById("poslovniPartner_vrstaD").checked = true;
		    }else{
		    	document.getElementById("poslovniPartner_vrstaKD").checked = true;
		    }
	    		    	
	    	var options = document.getElementById("preduzece").children;
			for (i = 0; i < options.length; i++) { 
    			if(options[i].label == preduzece){
    				document.getElementById("preduzece").selectedIndex = i;
    				break;
    			}
			}
	    	
	    	
    	}
	}

	
	function SelectElement(){
		if(${session.idPreduzeca} != null){
			var options = document.getElementById("preduzece").children;
			for (i = 0; i < options.length; i++) {
    			if(options[i].value == ${session.idPreduzeca}){
    				document.getElementById("preduzece").selectedIndex = i;
    				break;
    			}
			}

			document.getElementById("preduzece").disabled = true;
			document.getElementById("zoomBtn").disabled = true;
		}else{
			document.getElementById("preduzece").disabled = false;
			document.getElementById("zoomBtn").disabled = false;
		}
	}
	
	
	
	function remove(id){  <!-- ne znam koji je uanpred selektovani red , ovde se vrsi redirekcija -->
		if(id == null){
			alert("Označite red u tabeli!");
		}else{
			var r  = confirm("Da li želite da obrišete slog?");
			if(r==true) {
	    		$(location).attr('href', '/PoslovniPartneri/delete?id='+id);
			}else{
				txt = "You pressed Cancel"
			}
		}
	}
	
	function refresh_page(){
		$(location).attr('href', '/PoslovniPartneri/refresh');
	}

	// nextForm
	$(document).ready(function(){
		$("#nextFormPickup").click(function(){
			nazivForme = $(".highlighted").find(".naziv_forme").html();
			
			var idPoslovnogPartnera = sessionStorage.getItem("selektovaniID");
			
			$('#nextFormModal').modal('toggle');
			
			$(location).attr('href', '/PoslovniPartneri/nextForm?id='+idPoslovnogPartnera+'&forma='+nazivForme);
		});
	});
	
	// nextForm
	function nextform_func(id){
		if(id==null){
			alert("Označite red u tabeli!");
		}else{
			sessionStorage.setItem("selektovaniID",id);
			$('#nextFormModal').modal('show');
		}	
	}
	
	function cancel_nextFormModal(){
		$('#nextFormModal').modal('toggle');
	}

	// preduzece modal
	$(document).ready(function(){
		$("#preduzecePickup").click(function(){
			id = $(".highlighted").find(".p_id").html();
			$("select").val(id);
			$('#preduzeceModal').modal('toggle');
		});
	});
	
	function cancel_preduzeceModal(){
		$('#preduzeceModal').modal('toggle');
	}
	
	// povratak na nadredjenu formu
	function pickup(){
		$('#pickupModal').modal('show');
	}
	
	function cancel_pickupModal(){
		$('#pickupModal').modal('toggle');
	}
	
	$(document).ready(function(){
		$("#pickupPickup").click(function(){
			nazivForme = $(".highlighted").find(".naziv_forme").html();
			$('#pickupModal').modal('toggle');
			
			$(location).attr('href', '/PoslovniPartneri/pickup?forma='+nazivForme);
		});
	});
</script>

<div class="container-fluid">
	<div class="row">
		<div class="icon-bar">
			<a href="#" onclick="openSideNav()">
				<img width="16px" height="16px" src="@{'/public/images/menu_icon.png'}" />
			</a>
			
			<a href="@{PoslovniPartneri.changeMode("search")}" id = "search">
				<img src="@{'/public/images/search.gif'}"/>
			</a>
			
			<a href="@{PoslovniPartneri.changeMode("edit")}" id = "refresh">
				<img src="@{'/public/images/refresh.gif'}"/>
			</a>
			
			<a href="#" onclick="pickup()">
				<img src="@{'/public/images/zoom-pickup.gif'}"/>
			</a>
			
			<a href="#" id = "help">
				<img src="@{'/public/images/help.gif'}"/>
			</a>
			
			<a id = "first">
				<img src="@{'/public/images/first.gif'}"/>
			</a>

			<a id = "prev">
				<img src="@{'/public/images/prev.gif'}"/>
			</a>

			<a id = "next">
				<img src="@{'/public/images/next.gif'}"/>
			</a>

			<a id = "last">
				<img src="@{'/public/images/last.gif'}"/>
			</a>
			
			<a href="@{PoslovniPartneri.changeMode("add")}" id = "add">
				<img src="@{'/public/images/add.gif'}"/>
			</a>
			
			<a href="#" id = "remove">
				<img src="@{'/public/images/remove.gif'}"/>
			</a>
			
			<a href="#" id = "nextform">
				<img src="@{'/public/images/nextform.gif'}"/>
			</a>
		</div>

		<div class="container-fluid">
			<h1>Poslovni partneri</h1>

			<table>
				<tr class = "header">
	   				<th>Naziv</th>
	   				<th>Mesto</th>
	   				<th>Adresa</th>
	   				<th>Vrsta</th>
	   				<th>Telefon</th>
	   				<th>PIB</th>
	   				<th>Tekući račun</th>
	   				<th>Preduzeće</th>
	   			</tr>
				
				#{list items:poslovniPartneri, as:'poslovniPartner'}
				<tr #{if poslovniPartner.id == idd} class = "highlighted" #{/if} class="tableRow">
					<td class = "naziv">${poslovniPartner.naziv}</td>
					<td class = "mesto">${poslovniPartner.mesto}</td>
					<td class = "adresa">${poslovniPartner.adresa}</td>
					<td class = "vrsta">${poslovniPartner.vrsta}</td>
					<td class = "telefon">${poslovniPartner.telefon}</td>
					<td class = "pib">${poslovniPartner.pib}</td>
					<td class = "tekuciRacun">${poslovniPartner.tekuciRacun}</td>
					<td class="preduzece">${poslovniPartner.preduzece.naziv}</td>
					<td style = "visibility: hidden; max-width: 0px" class = "id">${poslovniPartner.id}</td>
				</tr>
				#{/list}
			</table>

			#{set 'action'}
    			#{if mode == 'add'}
        			@{PoslovniPartneri.create()}
   				#{/if}
   				#{elseif mode == 'edit'}
       				@{PoslovniPartneri.edit()}
   				#{/elseif}
  	   	    	#{else}
     	        	@{PoslovniPartneri.filter()}
  	        	#{/else}
 	    	#{/set}
 	
			<div class="panel">
				<form action=${action} method="post"> 
					<p>
						#{field 'poslovniPartner.id'}
							<input type = "hidden" name = "${field.name}" id = "${field.id}" value="${session.idPP}"/>
						#{/}
					</p>
				
					<p>
						#{field 'poslovniPartner.naziv'} 
							<label for = "${field.id}">Naziv</label>
							<input type = "text" name = "${field.name}" id = "${field.id}" value="${session.nazivPP}" maxlength="40" size="40"/>
							<span>#{error field.name /}</span>
						#{/}
					</p>
				
					<p>
						#{field 'poslovniPartner.mesto'}
					      	<label for = "${field.id}">Mesto</label>
							<input type="text" name="${field.name}" id="${field.id}" maxlength="40" size="40" value="${session.mestoPP}"/>
							<span>#{error field.name /}</span>
						#{/}
					</p>
					
					
					<p>
						#{field 'poslovniPartner.adresa'}
					      	<label for = "${field.id}">Adresa</label>
							<input type="text" name="${field.name}" id="${field.id}" maxlength="40" size="40" value="${session.adresaPP}"/>
							<span>#{error field.name /}</span>
						#{/}
					</p>
					
					
					<p>
						#{field 'poslovniPartner.vrsta'}
					      	<label for = "${field.id}">Vrsta</label>
							<input type="radio" name="${field.name}" id="${field.id}K" value="K" checked> Kupac
  							<input type="radio" name="${field.name}" id="${field.id}D" value="D">Dobavljač<br>
  							&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="radio" name="${field.name}" id="${field.id}KD" value="KD">Kupac i dobavljač<br>
						#{/}
					</p>
					
						<p>
						#{field 'poslovniPartner.telefon'}
					      	<label for = "${field.id}">Telefon</label>
							<input type="text" name="${field.name}" id="${field.id}" value="${session.telefonPP}"/>
							<span>#{error field.name /}</span>
						#{/}
					</p>
					
					
					<p>
						#{field 'poslovniPartner.pib'}
					      	<label for = "${field.id}">PIB</label>
							<input type="text" name="${field.name}" id="${field.id}" maxlength="8" size="8" value="${session.pibPP}"/>
							<span>#{error field.name /}</span>
						#{/}
					</p>
					
					
					<p>
						#{field 'poslovniPartner.tekuciRacun'}
					      	<label for = "${field.id}">Tekući račun</label>
							<input type="text" name="${field.name}" id="${field.id}" maxlength="18" size="18" value="${session.tekuciRacunPP}"/>
							<span>#{error field.name /}</span>
						#{/}
					</p>
					
					
						<p>
						#{field 'preduzece'} <label for="${field.id}">Preduzeće</label>
						&nbsp &nbsp &nbsp <select name="${field.name}" id="${field.id}">
							#{list items:preduzeca, as:'preduzece'}
							<option value="${preduzece.id}">${preduzece.naziv}</option>
							#{/list}
						</select>

						<button id="zoomBtn" type="button" class="btn btn-info btn-sm"
							data-toggle="modal" data-target="#preduzeceModal">...</button>
						#{/}

						<script>SelectElement()</script>
					</p>
					
					
					<div id = "formActions">
						<input type = "submit" value = "Potvrda" style="margin-left:6em" class="btn btn-success"/>
						<a href = "@{PoslovniPartneri.changeMode("edit")}" style="margin-left:1em">
							<button type="button" class="btn btn-danger">Otkaži</button>
						</a>
					</div>				
				</form>
			</div>
		</div>
	</div>
</div>

<p class="status_line">Trenutni režim: ${session.mode}</p>

<button onclick="topFunction()" id="myBtn" title="Idi na vrh">
	<img src="@{'/public/images/back_top.png'}" alt=""
		class="rounded-circle" width="40" height="40">
</button>

<!--NextForm modal-->
<div class="modal fade" id="nextFormModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">Izaberite sledeću formu</div>

			<div class="modal-body">
				<table style="padding: 2em">
					<tr class="header">
						<th>Forma</th>
					</tr>

					#{list items:povezaneForme, as:'forma'}
					<tr>
						<td class = "naziv_forme">${forma}</td>
					</tr>
					#{/list}
				</table>

				<div class="modal-footer">
					<input id="nextFormPickup" type="button" value="Izbor" class="btn btn-success"/>
					<button type="button" class="btn btn-danger" onclick="cancel_nextFormModal()">Otkaži</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Preduzece Modal -->
<div class="modal fade" id="preduzeceModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">Preduzeća</div>

			<div class="modal-body">
				<table style="padding: 2em">
					<tr class="header">
						<th>Naziv</th>
		   				<th>PIB</th>
		   				<th>Mesto</th>
		   				<th>Adresa</th>
		   				<th>Matični broj</th>
		   				<th>Tekući račun</th>
					</tr>

					#{list items:preduzeca, as:'preduzece'}
					<tr #{if preduzece.id== idd} class="highlighted"#{/if}>
						<td class = "naziv">${preduzece.naziv}</td>
						<td class = "pib">${preduzece.pib}</td>
						<td class = "mesto">${preduzece.mesto}</td>
						<td class = "adresa">${preduzece.adresa}</td>
						<td class = "maticniBroj">${preduzece.maticniBroj}</td>
						<td class = "tekuciRacun">${preduzece.tekuciRacun}</td>
						<td style="visibility: hidden; max-width: 0px" class="p_id">${preduzece.id}</td>
					</tr>
					#{/list}
				</table>

				<div class="modal-footer">
					<input id="preduzecePickup" type="button" value="Izbor" class="btn btn-success"/>
					<button type="button" class="btn btn-danger" onclick="cancel_preduzeceModal()">Otkaži</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Povratak na nadredjenu formu modal-->
<div class="modal fade" id="pickupModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">Izaberite nadređenu formu</div>

			<div class="modal-body">
				<table style="padding: 2em">
					<tr class="header">
						<th>Forma</th>
					</tr>

					#{list items:nadredjeneForme, as:'forma'}
					<tr>
						<td class = "naziv_forme">${forma}</td>
					</tr>
					#{/list}
				</table>

				<div class="modal-footer">
					<input id="pickupPickup" type="button" value="Izbor" class="btn btn-success" />
					<button type="button" class="btn btn-danger" onclick="cancel_pickupModal()">Otkaži</button>
				</div>
			</div>
		</div>
	</div>
</div>