#{extends 'standardForm.html' /}
#{set title:'Katalozi robe i usluga' /}

<script>
	function sync(item){
		if ("${session.mode}" == "edit"){
			nazivStavke = item.find(".kru_nazivStavkeKataloga").html()
		    opisStavke = item.find(".kru_opisStavkeKataloga").html()
		    podgrupa = item.find(".podgrupa").html()
		    id = item.find(".id").html()
		    $("#katalogRobeIUsluga_nazivStavkeKataloga").val(nazivStavke);
		    $("#katalogRobeIUsluga_opisStavkeKataloga").val(opisStavke)
		    $("#katalogRobeIUsluga_id").val(id);

			var options = document.getElementById("podgrupa").children;
			for (i = 0; i < options.length; i++) { 
    			if(options[i].label == podgrupa){
    				document.getElementById("podgrupa").selectedIndex = i;
    				break;
    			}
			}
		}
	}

	function remove(id){  <!-- ne znam koji je uanpred selektovani red , ovde se vrsi redirekcija -->
		if(id == null){
			alert("Označite red u tabeli!");
		}else{
			var r  = confirm("Da li želite da obrište slog?");
			if(r == true) {
		    	$(location).attr('href', '/KataloziRobeiUsluga/delete?id='+id);
			}
			else{
				txt = "You pressed Cancel"
			}
		}
	}
	
	function refresh_page(){
		$(location).attr('href', '/KataloziRobeiUsluga/refresh');
	}
	
	function SelectElement(){
		if(${session.idPodgrupe} != null){
			var options = document.getElementById("podgrupa").children;
			for (i = 0; i < options.length; i++) {
    			if(options[i].value == ${session.idPodgrupe}){
    				document.getElementById("podgrupa").selectedIndex = i;
    				break;
    			}
			}

			document.getElementById("podgrupa").disabled = true;
			document.getElementById("zoomBtn").disabled = true;
		}else{
			document.getElementById("podgrupa").disabled = false;
			document.getElementById("zoomBtn").disabled = false;
		}
	}
	
	// izbor podgrupe
	$(document).ready(function(){
		$("#izborPickup").click(function(){
			id = $(".highlighted").find(".izbor_id").html();
			$("select").val(id);
			$('#modalDialog').modal('toggle');
		});
	});
	
	function cancel_podgrupa_modal(){
		$('#modalDialog').modal('toggle');
	}

	// nextForm
	function nextform_func(id){
		if(id==null){
			alert("Označite red u tabeli!");
		}else{
			sessionStorage.setItem("selektovaniID",id);
			$('#nextFormModal').modal('show');
		}	
	}
	
	$(document).ready(function(){
		$("#nextFormPickup").click(function(){
			nazivForme = $(".highlighted").find(".naziv_forme").html();
			
			var idKataloga = sessionStorage.getItem("selektovaniID");
			
			$('#nextFormModal').modal('toggle');
			
			$(location).attr('href', '/KataloziRobeIUsluga/nextForm?id='+idKataloga+'&forma='+nazivForme);
		});
	});
	
	function cancel_modal(){
		$('#nextFormModal').modal('toggle');
	}
	
	// povratak na nadredjenu formu
	function pickup(){
		$('#pickupModal').modal('show');
	}
	
	function cancel_pickupModal(){
		$('#pickupModal').modal('toggle');
	}
	
	$(document).ready(function(){
		$("#pickupPickup").click(function(){
			nazivForme = $(".highlighted").find(".naziv_forme").html();
			$('#pickupModal').modal('toggle');
			
			$(location).attr('href', '/KataloziRobeIUsluga/pickup?forma='+nazivForme);
		});
	});
	
</script>
<div class="container-fluid">
	<div class="row">
		<div class="icon-bar">
			<a href="#" onclick="openSideNav()">
				<img width="16px" height="16px" src="@{'/public/images/menu_icon.png'}" />
			</a>

			<a href="@{KataloziRobeIUsluga.changeMode("search")}" id="search">
				<img src="@{'/public/images/search.gif'}" />
			</a> 
			
			<a href="#" onclick="refresh_page()"> 
				<img src="@{'/public/images/refresh.gif'}" />
			</a> 
			
			<a href="#" onclick="pickup()"> 
				<img src="@{'/public/images/zoom-pickup.gif'}" />
			</a> 
			
			<a href="#" id="help"> 
				<img src="@{'/public/images/help.gif'}" />
			</a> 
			
			<a id="first"> 
				<img src="@{'/public/images/first.gif'}" />
			</a> 
			
			<a id="prev"> 
				<img src="@{'/public/images/prev.gif'}" />
			</a> 
			
			<a id="next"> 
				<img src="@{'/public/images/next.gif'}" />
			</a> 
			
			<a id="last"> 
				<img src="@{'/public/images/last.gif'}" />
			</a> 
			
			<a href="@{KataloziRobeIUsluga.changeMode("add")}" id="add"> 
				<img src="@{'/public/images/add.gif'}" />
			</a>
			
			<a href="#" id="remove"> 
				<img src="@{'/public/images/remove.gif'}" />
			</a> 
			
			<a href="#" id="nextform"> 
				<img src="@{'/public/images/nextform.gif'}" />
			</a>
		</div>

		<div class = "container-fluid">
			<h1>Katalozi robe i usluga</h1>

			<table>
				<tr class = "header">
	   				<th>Naziv stavke kataloga</th> 
	   				<th>Opis stavke kataloga</th>
	   				<th>Podgrupa</th>
				</tr>
				#{list items:kataloziRobeIUsluga, as:'katalogRobeIUsluga'}
					<tr #{if katalogRobeIUsluga.id== idd} class="highlighted"#{/if} class="tableRow">
						<td class="kru_nazivStavkeKataloga">${katalogRobeIUsluga.nazivStavkeKataloga}</td>
						<td class="kru_opisStavkeKataloga">${katalogRobeIUsluga.opisStavkeKataloga}</td>
						<td class="podgrupa">${katalogRobeIUsluga.podgrupa.nazivPodgrupe}</td>
						<td style="visibility: hidden; max-width: 0px" class="id">${katalogRobeIUsluga.id}</td>
					</tr>
				#{/list}
			</table>


			#{set 'action'}
			    #{if mode == 'add'}
			        @{KataloziRobeIUsluga.create()}
			    #{/if}
			    #{elseif mode == 'edit'}
			        @{KataloziRobeIUsluga.edit()}
			    #{/elseif}
			    #{else}
			       @{KataloziRobeIUsluga.filter()}
			    #{/else}
		  	#{/set}
  
			<div class = "panel">
				<form action=${action} method="post">
						
						<p>
							#{field 'katalogRobeIUsluga.id'} 
								<input type="hidden" name="${field.name}" id="${field.id}" value="${session.idKRU}" />
							#{/}
						</p>
						
						<p>
							#{field 'katalogRobeIUsluga.nazivStavkeKataloga'} 
								<label for="${field.id}" width="20%">Naziv stavke kataloga</label>
								<input type="text" name="${field.name}" id="${field.id}" value="${session.nazivStavkeKataloga}" maxlength="40" size="40" /> 
								<span>#{error field.name /}</span>
							#{/}
						</p>
						
						<p>
							#{field 'katalogRobeIUsluga.opisStavkeKataloga'} 
								<label for="${field.id}">Opis stavke kataloga</label>
								<input type="text" name="${field.name}" id="${field.id}" value="${session.opisStavkeKataloga}" size="40"/> 
								<span>#{error field.name /}</span>
							#{/}
						</p>
						
						<p>
							#{field 'podgrupa'}
								<label for = "${field.id}">Podgrupa</label>
								&nbsp &nbsp &nbsp
								<select name = "${field.name}" id = "${field.id}">
									#{list items:podgrupe, as:'podgrupa'}
										<option value = "${podgrupa.id}">${podgrupa.nazivPodgrupe}</option>
									#{/list}
								</select>
								
								<button id = "zoomBtn" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalDialog">...	</button>
							#{/}
							
							<script>SelectElement()</script>
						</p>
						
						<div id = "formActions">
							<input type = "submit" value = "Potvrda" style="margin-left:6em" class="btn btn-success" />
							<a href = "@{KataloziRobeIUsluga.changeMode("edit")}" style="margin-left:1em">
								<button type="button" class="btn btn-danger">Otkaži</button>
							</a>
						</div>				
				</form>
			</div>
		</div>
	</div>
</div>

<p class="status_line">Trenutni režim: ${session.mode}</p>

<button onclick="topFunction()" id="myBtn" title="Idi na vrh">
	<img src="@{'/public/images/back_top.png'}" alt=""
		class="rounded-circle" width="40" height="40">
</button>

 <!-- Modal -->
<div class="modal fade" id="modalDialog" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				Podgurpe
			</div>
			
      		<div class="modal-body">
	    		<table style = "padding:2em">
					<tr class = "header">
		   				<th>Naziv</th>
	   					<th>Grupa</th>
					</tr>
					
					#{list podgrupe, as:'podgrupa'}
						<tr #{if podgrupa.id == idd} class = "highlighted" #{/if}>
							<td class = "naziv">${podgrupa.nazivPodgrupe}</td>
							<td class = "grupa">${podgrupa.grupa.nazivGrupe}</td>
							<td style = "visibility: hidden; max-width: 0px" class = "izbor_id">${podgrupa.id}</td>
						</tr>
					#{/list}
				</table>
				
				<div class="modal-footer">
					<input id = "izborPickup" type = "button" value = "Izbor" class="btn btn-success"/>
					<button type="button" class="btn btn-danger" onclick="cancel_podgrupa_modal()">Otkaži</button>
				</div>
			</div>
		</div>
	</div>
</div>

 <!-- NextFormModal -->
<div class="modal fade" id="nextFormModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">Izaberite sledeću formu</div>

			<div class="modal-body">
				<table style="padding: 2em">
					<tr class="header">
						<th>Forma</th>
					</tr>

					#{list items:povezaneForme, as:'forma'}
					<tr>
						<td class = "naziv_forme">${forma}</td>
					</tr>
					#{/list}
				</table>

				<div class="modal-footer">
					<input id="nextFormPickup" type="button" value="Izbor" class="btn btn-success" />
					<button type="button" class="btn btn-danger" onclick="cancel_modal()">Otkaži</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Povratak na nadredjenu formu modal-->
<div class="modal fade" id="pickupModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">Izaberite nadređenu formu</div>

			<div class="modal-body">
				<table style="padding: 2em">
					<tr class="header">
						<th>Forma</th>
					</tr>

					#{list items:nadredjeneForme, as:'forma'}
					<tr>
						<td class = "naziv_forme">${forma}</td>
					</tr>
					#{/list}
				</table>

				<div class="modal-footer">
					<input id="pickupPickup" type="button" value="Izbor" class="btn btn-success" />
					<button type="button" class="btn btn-danger" onclick="cancel_pickupModal()">Otkaži</button>
				</div>
			</div>
		</div>
	</div>
</div>