/*Dropdown*/
/* Dropdown Button */
.dropbtn {
	background-color: #c0c0c0;
	color: white;
	padding: 10px;
	font-size: 8px;
	border: none;
	cursor: pointer;
	display: inline-block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #808080;
}

/*Nav bar*/
.icon-bar {
	width: 100%; /* Full-width */
	background-color: #c0c0c0; /* Dark-grey background */
	overflow: auto; /* Overflow due to float */
	margin-right: 10px;
	display: inline-block;
	/*position: fixed;*/
	/* Set the navbar to fixed position */
}

.icon-bar a {
	float: left; /* Float links side by side */
	text-align: center; /* Center-align text */
	width: 6%; /* Equal width (5 icons with 20% width each = 100%)*/
	padding: 12px; /* Some top and bottom padding */
	transition: all 0.3s ease; /* Add transition for hover effects */
	color: #000000; /* White text color */
	font-size: 12px; /* Increased font size */
}

.icon-bar a:hover {
	background-color: #808080; /* Add a hover color */
}

.active {
	background-color: #808080; /* Add an active/current color */
}